/elpa/
/eln-cache/
/auto-save-list/

/\.cache/

.projectile
/projectile-bookmarks.eld
/projectile.cache
/projects
/custom.el

*~
\#*

.DS_Store
/racket-mode/

/eshell/
/elisp-autofmt-cache/
/amx-items
/ido.last
/.mc-lists.el
/transient/